html {

}

body {
    font-family: 'Open Sans', sans-serif;
    font-Size: 15px;
    /* background-image: url("../images/tiny-squares.png"); */
    background-image: url("../images/darkdenim3.png");
    height: 100%;
}

div {
    /* border: 1px solid #666; */
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding-top: 50px;
}

.container {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
}

#title {
    Font-Size: 38px;
    padding: 0 0 16px 0;
    margin: 30px 0 0 0;
    display: inline-block;
    color: #fff;
    width: 100%;
}

#title a, #title a:visited {
    color:#fff;
}

#title a:hover {
    color: yellow;
    text-decoration: none;
}

.page-header {
    /* background-color:#3f3d64; */
    background-color: #000;
    color: #fff;
    padding-top: 12px;
    margin-bottom: 4px;
    border-bottom: 8px solid #333;
    border-top: 14px solid #333;
}

#search {
    text-align: right;
}

label {
    margin-bottom: 8px;
    color: #333;
}

form {
    margin-bottom: 4px;
    margin-top: 6px;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
}


footer {
    width: 100%;
    background: #ccc;
    padding: 10px;
    margin-top: 40px;
    color:#fff;
    line-height: 1.3em;
}

footer a, footer a:visited {
    color:#fff;
    text-decoration: none;
}

footer a:hover {
    color:#fff;
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

p {
    line-height: 1.4em;
    font-size: 1.15em;
}

td {
    border: 1px solid #ccc;
}

table {
    width: 65%;
}

ul {
    list-style-type: disc;
    margin: 5px 0 20px 40px;
}

li {
    margin: 10px 0;
}

